{% extends 'base.html' %}

{% load static %}

{% block title %}Password Reset{% endblock %}

{% block container %}

<h1 class="registration-header">Forgot your password?</h1>
<form class="ui form" method="post">{% csrf_token %}
    <fieldset class="module aligned">
        <div class="form-row field-email">
            {{ form.email.errors }}
            <label for="id_email">Type your email address to reset your password:</label>
            {{ form.email }}
        </div>
        <input type="submit" value="Reset my password" />
    </fieldset>
</form>

{% endblock %}