{% extends 'base.html' %}

{% load static %}

{% block title %}500{% endblock %}

{% block container %}

<div class="ui placeholder segment">
    <div class="ui icon header">
        <div>
            <img class="ui centered medium image" src="https://media.giphy.com/media/ceHKRKMR6Ojao/giphy.gif">
        </div>
        Sorry, but we messed up! <br/>
        Please go to our Discord server and inform us of the error. Link is in the button below. <br/>
        Status code: 500.
    </div>
    <a class="ui primary button" href="https://discord.gg/Q9WHD3J">Go to Discord</a>
</div>

{% endblock %}